streamlit
requests
pandas
selenium
webdriver-manager
beautifulsoup4
cloudscraper
Pillow
pytesseract
pdf2image
yt-dlp
googlesearch-python
duckduckgo-search
rich
lxml
curl_cffi
zenrows
deep-translator
groq
urllib3
PyPDF2
supabase
scrapling